.container {
    display: grid;
    grid-template-rows: 6rem 1fr;
    height: 100vh;
}

.header {
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5rem;
    background-color: var(--background-white);
    box-shadow: var(--shadow);
}

.header__logo {
    color: var(--text-primary);
}

.header__menu {
    display: flex;
    gap: clamp(2rem, 6vw, 7rem);
}

.header__link {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    width: 14rem;
    height: 4rem;
    font-weight: 600;
    color: var(--text-primary);
    border-radius: var(--radius);
}

.header__link:active,
.header__link:focus {
    color: var(--primary-dark);
    background-color: var(--primary-light);
}
.profile {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
}

.main {
    display: grid;
    grid-template-areas:
        "header header"
        "progress macros"
        "add add"
        "log log";
    grid-template-rows: 8rem 2fr 1fr 30rem;
    grid-template-columns: 1.5fr 1fr;
    gap: 1rem;
    padding: 0 10rem;
    background-color: var(--background-grey);
}

.card {
    display: grid;
    grid-template-rows: 3.1rem 1fr;
    padding: 1rem 2rem;
    background-color: var(--background-white);
    border-radius: var(--radius-sm);
    box-shadow: var(--shadow);
}

.card__header {
    display: flex;
    justify-content: space-between;
}

.badge {
    display: flex;
    align-items: center;
    padding: 0 10px;
    font-weight: 600;
    color: var(--primary-dark);
    background-color: var(--primary-light);
    border-radius: var(--radius-md);
}

.progress-card__body {
    display: flex;
    gap: 3rem;
    align-items: center;
    justify-content: center;
}
.progress-card__stat {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main__header {
    display: flex;
    flex-direction: column;
    grid-area: header;
    justify-content: center;
    padding-top: 1rem;
}

.main__greeting {
    color: var(--text-primary);
}

.main__date {
    color: var(--text-secondary);
}

/* Progress Section */
.progress-card {
    grid-area: progress;
    background-color: var(--background-white);
}

[role="progressWheel"] {
    --size: 20rem;
    --bar-width: 5rem;
    position: relative;

    display: grid;
    place-items: center;
    width: var(--size);
    aspect-ratio: 1 / 1;
    background: conic-gradient(var(--primary) var(--cal-progress, 0), var(--primary-light) 0%);
    border-radius: 50%;
}

[role="progressWheel"]::after {
    display: grid;
    place-items: center;
    width: calc(100% - var(--bar-width));
    aspect-ratio: 1;
    text-align: center;
    content: "";
    background-color: var(--background-white);
    border-radius: 50%;
}

[role="progressWheel"] .progress-ring__value {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 3rem;
    font-weight: 700;
    color: var(--text-primary);
    transform: translate(-50%, -70%);
}

[role="progressWheel"] .progress-ring__label {
    position: absolute;
    bottom: 35%;
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--text-secondary);
}

[role="progressWheel"] .progress-ring__warning {
    display: none;
}

.progress-ring:not([role="progressWheel"]) {
    display: grid;
    place-items: center;
    color: var(--red);
}

.stat__value {
    font-size: 3rem;
    font-weight: 700;
    color: var(--primary);
}

/* Macros Section */
.macros-card {
    grid-area: macros;
    background-color: var(--background-white);
}

.macros__header {
    display: flex;
    justify-content: space-between;
}

.macros-card__body {
    display: flex;
    align-items: center;
}

.macros__list {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: stretch;
}

.macros__bar::-webkit-progress-bar /* restyling progress for (Chrome, Safari, Edge) */,
.macros__bar /* Restyling progress for firefox */ {
    background-color: var(--background-grey);
    border-radius: var(--radius-md);
}

/* Chrome, Safari, Edge value*/
.macros__bar::-webkit-progress-value {
    --_bar-color: var(--bar-color, var(--background-grey));
    background-color: var(--bar-color);
    border-radius: var(--radius-md);
}

/* Firefox value*/
.macros__bar::-moz-progress-bar {
    --_bar-color: var(--bar-color, var(--background-grey));
    background-color: var(--bar-color);
    border-radius: var(--radius-md);
}

.macros__bar--protein {
    --bar-color: var(--accent);
}

.macros__bar--carb {
    --bar-color: var(--blue);
}

.macros__bar--fat {
    --bar-color: var(--orange);
}

.quick-add {
    grid-area: add;
    background-color: var(--background-white);
}

.main__log {
    grid-area: log;
    background-color: var(--background-white);
}
