:root {
    --primary: #22ba7d;
    --primary-dark: #0a955e;
    --primary-light: #c9f7e2;
    --blue: #3c88fb;
    --orange: #f39e11;
    --red: #e64340;
    --text-primary: #343b4b;
    --text-secondary: #8b919b;
    --background-grey: #efeff2;
    --background-white: #fff;

    --radius: 8px;
}
